@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 64px;
  background-color: rgb(243, 244, 246);
  position: relative;
}
.header__list {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 95px;
}
.header__list-item {
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
}
.header__list-item:hover {
  font-weight: bold;
  cursor: pointer;
}
.header__logo {
  height: 50px;
}
.header__burger-menu {
  width: 30px;
  height: 24px;
  display: none;
  cursor: pointer;
}
.header__close-menu-btn {
  width: fit-content;
  background: none;
  border: none;
}
.header__close-menu-btn img {
  width: 30px;
  height: 24px;
}
.header__menu {
  width: 100%;
  background-color: #0578FF;
  position: absolute;
  right: 0;
  top: 116px;
  color: white;
  height: 0;
  overflow: hidden;
}
.header__menu--visible {
  height: 100vh;
  z-index: 25;
}
.header__menu-list {
  padding-top: 128px;
  padding-left: 32px;
}

@media (max-width: 768px) {
  .header {
    padding: 32px;
  }
  .header__burger-menu {
    display: inline;
  }
  .header__list {
    display: none;
  }
  .header__list-item {
    font-size: 48px;
    text-align: left;
    margin-bottom: 96px;
  }
  .header__list-item:last-of-type {
    margin-bottom: 0px;
  }
}
@media (max-width: 430px) {
  .header {
    padding: 32px 20px;
  }
  .header__logo {
    height: 30px;
  }
  .header__list-item {
    font-size: 32px;
    margin-bottom: 64px;
  }
  .header__menu-list {
    padding-top: 64px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Poppins, "Times New Roman", Times, serif !important;
}

input[type=radio], button {
  cursor: pointer;
}

.main {
  display: flex;
  background: linear-gradient(180deg, rgb(243, 244, 246) 0%, rgb(225, 238, 254) 100%);
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 64px 64px 128px;
}
.main__title {
  font-weight: bold;
  font-size: 64px;
}
.main__text {
  font-size: 16px;
  margin: 32px 0px;
}
.main__image {
  width: 50%;
}
.main__radio-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 3px 24px;
  border-radius: 8px;
}
.main__counter-box {
  display: flex;
  align-items: center;
  gap: 2px;
}
.main__btn-icon {
  width: 20px;
}
.main__user-icon {
  width: 22px;
  margin-right: 3px;
}
.main__counter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
}
.main__counter {
  width: 20px;
  text-align: center;
}
.main__block {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}
.main__item {
  width: calc(50% - 16px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}
.main__item-box {
  position: relative;
}
.main__item-list {
  width: 100%;
  position: absolute;
  top: 65px;
  background-color: white;
  border-radius: 12px;
  padding: 12px 24px;
  box-shadow: 0px 8px 24px -8px rgba(0, 0, 0, 0.16);
  z-index: 20;
}
.main__item-list > li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.main__item-list > li:hover {
  font-weight: 800;
}
.main__item-input {
  width: 100%;
  background-color: white;
  position: relative;
  padding: 16px 24px;
  height: 53px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  color: #90a3bf;
  gap: 12px;
}
.main__item-input::placeholder {
  font-size: 16px;
  color: #90a3bf;
}
.main__item-input.disabled::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(5, 120, 255, 0.1);
  border: 1px solid #90a3bf;
  border-radius: 8px;
}
.main__item-clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}
.main__item-label {
  display: block;
  width: 100%;
  font-weight: bold;
}
.main__btn {
  margin-top: 24px;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: none;
  background-color: #0578FF;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.input-city {
  color: rgb(32, 32, 32);
}

@media (max-width: 768px) {
  .main {
    padding: 64px 32px 128px;
  }
  .main__image {
    display: none;
  }
}
@media (max-width: 430px) {
  .main {
    padding: 24px 20px 128px;
  }
  .main__title {
    font-size: 32px;
  }
  .main__text {
    font-size: 11px;
    margin: 24px 0px;
  }
  .main__item {
    width: 100%;
  }
  .main-input {
    font-size: 14px;
  }
  .main-input::placeholder {
    font-size: 14px;
  }
  .main__radio-btns {
    font-size: 12px;
  }
}
.calendar {
  max-width: 640px;
  position: absolute;
  display: none;
  background-color: white;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
  top: 12px;
  padding: 24px 32px;
}
.calendar__month {
  width: 49%;
}
.calendar__month-box {
  display: flex;
  gap: 20px;
  width: 100%;
}
.calendar__block {
  position: relative;
}
.calendar-icon {
  cursor: pointer;
}
.calendar__btns {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  right: 0px;
}
.calendar__btn {
  max-width: 80px;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  color: rgba(32, 32, 32, 0.5019607843);
  background-color: white;
}
.calendar__btn.active {
  background-color: #0578FF;
  color: white;
}
.calendar__btn:hover {
  box-shadow: 0px 0px 8px 0.5px rgba(0, 0, 0, 0.2509803922);
}
.calendar__month-title {
  display: flex;
  padding: 5px;
}
.calendar__month-title p {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.calendar__month-title-btn {
  width: 16px;
  cursor: pointer;
  border: none;
}
.calendar__month-title .prev {
  background: url(../../images/prev.png) center no-repeat;
}
.calendar__month-title .next {
  background: url(../../images/next.png) center no-repeat;
}
.calendar__days {
  display: flex;
  flex-wrap: wrap;
}
.calendar__days-title {
  display: flex;
  width: 100%;
}
.calendar__day-title {
  width: 14.2857142857%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
  color: #202020;
  font-size: 12px;
  cursor: pointer;
}
.calendar__day-title--disabled {
  color: lightgrey;
  cursor: default;
}
.calendar__day-title.active span {
  color: white;
  z-index: 10;
}
.calendar__day-title.active.right {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #f5f5f5 50%, #f5f5f5 100%);
}
.calendar__day-title.active.left {
  background: linear-gradient(to left, #ffffff 0%, #ffffff 50%, rgb(245, 245, 245) 50%, rgb(245, 245, 245) 100%);
}
.calendar__day-title.active::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  background-color: #0578FF !important;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 430px) {
  .calendar__month {
    width: 100%;
  }
  .calendar__month-box {
    flex-wrap: wrap;
  }
}
.highlights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 64px;
  background-color: #0578FF;
}
.highlights__item {
  color: white;
  text-align: center;
}
.highlights__item-number {
  font-weight: bold;
  font-size: 50px;
}
.highlights__item-text {
  font-size: 20px;
}

@media (max-width: 768px) {
  .highlights {
    padding: 64px 128px;
    flex-wrap: wrap;
    gap: 40px;
  }
  .highlights__item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 430px) {
  .highlights {
    padding: 30px 20px;
    gap: 30px;
  }
  .highlights__item-number {
    font-size: 40px;
  }
  .highlights__item-text {
    font-size: 16px;
  }
}
.gallery {
  padding: 128px 64px;
  background-color: #DFEDFE;
}
.gallery__header {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 24px;
}
.gallery__main {
  display: flex;
  gap: 32px;
}
.gallery__left {
  width: 43.4%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.gallery__left img {
  width: 100%;
}
.gallery__right {
  width: 56.6%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.gallery__right-top {
  display: flex;
  gap: 32px;
}
.gallery__image-top-left {
  width: calc(40% - 16px);
}
.gallery__image-top-right {
  width: calc(60% - 16px);
}

@media (max-width: 768px) {
  .gallery {
    padding: 128px 32px;
  }
  .gallery__main {
    gap: 24px;
    flex-direction: column;
  }
  .gallery__left {
    width: 100%;
    gap: 24px;
  }
  .gallery__right {
    width: 100%;
    gap: 24px;
  }
  .gallery__right-top {
    gap: 24px;
  }
}
@media (max-width: 430px) {
  .gallery {
    padding: 64px 20px;
  }
  .gallery__header {
    font-size: 32px;
  }
  .gallery__main {
    gap: 12px;
  }
  .gallery__left {
    gap: 12px;
  }
  .gallery__right {
    gap: 12px;
  }
  .gallery__right-top {
    gap: 12px;
    flex-direction: column;
  }
  .gallery__image-top-left {
    width: 100%;
  }
  .gallery__image-top-right {
    width: 100%;
  }
}
.download {
  background-color: #ffc501;
  padding: 128px 0 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.download__header {
  font-size: 62px;
  font-weight: bold;
}
.download__images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
}
.download__images-item {
  width: 15%;
  display: flex;
  justify-content: center;
}
.download__images-item img {
  width: 100%;
}

@media (max-width: 768px) {
  .download {
    gap: 32px;
  }
  .download__header {
    font-size: 40px;
  }
  .download__images {
    flex-wrap: wrap;
    gap: 30px 49px;
  }
  .download__images-item {
    width: 30%;
  }
  .download__images-item:first-of-type {
    width: 100%;
  }
  .download__images-item:first-of-type img {
    width: 30%;
  }
}
@media (max-width: 430px) {
  .download {
    padding: 32px 20px;
    gap: 30px;
  }
  .download__header {
    text-align: center;
    font-size: 32px;
  }
  .download__images-item {
    width: 55%;
  }
  .download__images-item:first-of-type img {
    width: 55%;
  }
}
.faq {
  padding: 128px 177px 249px;
}
.faq__title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 40px;
}
.faq__item {
  font-size: 18px;
  height: max(56px, max-content);
}
.faq__item:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.faq__question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}
.faq__image {
  cursor: pointer;
  transition: transform 0.7s ease-in;
}
.faq__image--clicked {
  transform: rotate(45deg);
}
.faq__answer {
  font-size: 16px;
  padding: 16px 0px;
  overflow: hidden;
  transform: scaleY(0);
  transition: transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.faq__answer--visible {
  transform: scaleY(1);
}
.faq__answer--hidden {
  display: none;
}

@media (max-width: 768px) {
  .faq {
    padding: 128px 32px 250px;
  }
}
@media (max-width: 430px) {
  .faq {
    padding: 64px 20px 160px;
  }
}
.footer {
  background-color: #0578FF;
  color: white;
}
.footer__top-box {
  height: 400px;
  display: flex;
  justify-content: center;
}
.footer__bottom-box {
  padding: 64px 64px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__links {
  display: flex;
}
.footer__logo {
  height: 51px;
}
.footer__list {
  display: flex;
  width: 192px;
  flex-direction: column;
  gap: 25px;
}
.footer__list-item {
  cursor: pointer;
}
.footer__list-item:hover {
  font-weight: bold;
}
.footer__list-item:first-of-type {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer__date {
  padding: 40px 0px 76px 64px;
}

.contacts {
  width: 50%;
  height: fit-content;
  padding: 60px 0px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  text-align: center;
  background-color: white;
  color: black;
  margin-top: -121px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 120%;
}
.contacts__text {
  font-size: 28px;
  line-height: 140%;
}
.contacts__adress {
  margin-top: 30px;
  font-size: 18px;
  width: 40%;
  line-height: 150%;
}

@media (max-width: 768px) {
  .footer__bottom-box {
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 32px 0px;
    gap: 40px;
  }
  .footer__date {
    padding: 40px 32px 60px;
  }
  .footer__links {
    gap: 20px;
  }
  .footer__list {
    width: calc((100% - 20px) / 3);
  }
  .contacts {
    width: 60%;
  }
  .contacts__adress {
    width: 100%;
  }
}
@media (max-width: 430px) {
  .footer__top-box {
    height: 372px;
  }
  .footer__bottom-box {
    padding: 40px 20px 0px;
  }
  .footer__links {
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
  }
  .footer__list {
    width: calc(50% - 12px);
  }
  .footer__date {
    padding: 40px 20px 64px;
  }
  .contacts {
    width: 90%;
  }
  .contacts__title {
    font-size: 36px;
  }
  .contacts__text {
    font-size: 20px;
  }
}
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.hide {
  display: none;
}

.toast {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: 60px;
  padding: 12px 32px 12px 12px;
  text-align: left;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.toast__text {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.toast--error {
  background: #FFE27D;
}
.toast--success {
  background: #C4F4D0;
}
.toast img {
  width: 20px;
}

/*# sourceMappingURL=style.css.map */
